@charset "UTF-8";
/*css página principal*/
@import url(/css/reset.css);
:root {
  --cor-primaria: #6c63ff;
  --cor-secundaria: #45aad4;
  --cor-sucesso: #00bf8e;
  --cor-alerta: #f75842;
  --cor-branca: #fff;
  --cor-preto: #000;
  --cor-light: rgba(255, 255, 255, 0.7);
  --cor-fundo: #1f2641;
  --cor-fundo1: #2e3267;
  --cor-fundo2: #424890;
  --transistion: all 400ms ease;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

/*btn branco*/
/*div feedback*/
/*cards*/
/*-------------------<Implementações>-----------------*/
/*-------------------<User>-----------------*/
/*-------------------<Main Css>-----------------*/
#header {
  padding: 20px 120px;
}

#header .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .container__header a {
  margin-left: 25px;
  font-weight: 600;
}

/*Container*/
.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90vh;
  padding: 0px 40px;
}

.content__header .title__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  min-width: 400px;
}

.content__header .title__header h1 {
  font-size: 2.08em;
}

.content__header .title__header sub {
  font-size: 20px;
}

.content__header .title__header .mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5em;
}

.content__header .img__left {
  min-width: 30%;
}

/*Feed-back*/
#feed {
  background: rgba(255, 255, 255, 0.826);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding: 15px 20px;
}

#feed .feed_left {
  display: -ms-grid;
  display: grid;
  gap: 2em;
}

#feed .feed_left h1 {
  font-size: 2.9em;
}

#feed .feed_left sub {
  font-size: 20px;
}

#feed .feed_left button {
  width: 12em;
  padding: 22px;
  background: radial-gradient(184.06% 706.97% at 10.57% 0%, #FFFFFF 0%, #ffffff 100%);
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  border: none;
  font-weight: 500;
}

#feed .feed_right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22em 22em;
      grid-template-columns: 22em 22em;
  -ms-grid-rows: 18em 18em;
      grid-template-rows: 18em 18em;
  gap: 2em;
  padding: 2px 5px;
}

#feed .feed_right .feed_card {
  background: radial-gradient(97.08% 116.98% at 6.21% 2.92%, rgba(255, 255, 255, 0.376) 0%, rgba(213, 211, 211, 0.323) 100%);
  opacity: 0.9;
  -webkit-box-shadow: 0px 2px 30px -5px rgba(132, 153, 165, 0.73);
          box-shadow: 0px 2px 30px -5px rgba(132, 153, 165, 0.73);
  -webkit-backdrop-filter: blur(49.0945px);
          backdrop-filter: blur(49.0945px);
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  padding: 25px 20px;
}

#implementação {
  background: rgba(255, 255, 255, 0.826);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#implementação h1 {
  text-align: center;
}

#implementação .imp_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3em;
  margin-top: 20px;
}

#implementação .imp_card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 0px 40px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36.95px;
  text-align: center;
  background: url(/src/elements__pag1/Card1.png);
  background-position: center;
  background-size: auto;
  height: 540px;
  width: 23em;
  padding-bottom: 60px;
}

#implementação .imp_card1 button {
  width: 157px;
  height: 55px;
  left: 106px;
  top: 436px;
  background: radial-gradient(110% 833.01% at 4.14% 0%, #D5A1FF 0%, #7728F8 100%);
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

#implementação .imp_card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 0px 40px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36.95px;
  text-align: center;
  background: url(/src/elements__pag1/Card2.png);
  background-position: center;
  background-size: auto;
  height: 540px;
  width: 23em;
}

#implementação .imp_card2 button {
  width: 157px;
  height: 55px;
  left: 106px;
  top: 436px;
  background: radial-gradient(110% 833.01% at 4.14% 0%, #D5A1FF 0%, #7728F8 100%);
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

#implementação .imp_card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 0px 40px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36.95px;
  text-align: center;
  background: url(/src/elements__pag1/Card3.png);
  background-position: center;
  background-size: auto;
  height: 540px;
  width: 23em;
  padding-bottom: 60px;
}

#implementação .imp_card3 button {
  width: 157px;
  height: 55px;
  left: 106px;
  top: 436px;
  background: radial-gradient(110% 833.01% at 4.14% 0%, #D5A1FF 0%, #7728F8 100%);
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.testimonials_container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonials {
  padding-top: 4rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--cor-fundo1);
}

.testimonials_info {
  text-align: center;
}

.testimonials_body {
  background: var(--cor-primaria);
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 20px;
  position: relative;
}
/*# sourceMappingURL=style.css.map */